@using Currency_exchange.Models
@model IEnumerable<Transaction>
@{
    ViewData["Title"] = "Transaction History";
}

<h2>Transaction History</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Transaction Exchange Rate</th>
            <th>Transaction Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.TransactionDate.ToLocalTime()</td>
                <td>@string.Format("{0:0.00####}", transaction.FromAmount) @transaction.FromCurrency?.Code</td>
                <td>@string.Format("{0:0.00####}", transaction.ToAmount) @transaction.ToCurrency?.Code</td>
                <td>@string.Format("{0:0.00####}", transaction.ExchangeRate)</td>
                <td>@transaction.Type</td>
            </tr>
        }
    </tbody>
</table>
